<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Popcorn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/genre.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
</head>
<body>
    <div class="left"></div>

    <div class="right">
        <div class="watch">genre</div>
        <div class="pic"></div>
        <h1>JOKER</h1>
        <h4>2nd october 2019</h4>
        <a href=""><button>READ MORE</button></a>
    </div>
</body>