
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Popcorn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/genre.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
</head>
<body>
    <div id="loader" class="center"></div> 
    <div class="left">
        <a href='/' class="logo"></a><br><br>
        <ul>
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li >HOME &nbsp;&nbsp;</li></a>
            <li style="color: #b6362d;" >GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li id="search">SEARCH</li></a>
        </ul>
        <br><br><br>
        <div class="cont1">

        </div>
        <div class="footnav">

            <button id="circle" style="color:  rgb(218, 218, 218);"class="prev" onclick="prev()">
                    <h3 style="text-align: center;margin:0;font-weight: 300;">Prev</h3>
            </button>
            
                                <p style="text-align: center;">
                                    <span id="inner" style="color: #b6362d;">1 </span> : 
                                    <span id="inner2"> 546</span>
                                </p>

            <button id="circle" style="color: rgb(218, 218, 218);" class="next" onclick="next()">
                    <h3 style="text-align: center;margin:0;font-weight: 300;">Next</h2>
            </button>

        </div>
    </div>

    <div class="right">
        <div class="watch">genre</div>
        <div class="pic"></div>
        <div class="rating">
            <img src="/assets/imdb.png" alt="" style="width: 10%;">
            <h4 style="position: absolute; top:0%; left:12%">8.5/10</h4>
        </div>
        <h1>JOKER</h1>
        <h4>2nd october 2019</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo consequuntur similique nam labore ullam voluptatum, adipisci eius natus quam reprehenderit et ipsa neque consectetur voluptas excepturi cupiditate provident ipsum. Inventore!</p>
        <a href=""><button>READ MORE</button></a>
    </div>
  
</body>
<script>
    window.onload = disp(28,1);
    function disp(id,page){
        document.querySelector('.cont1').innerHTML=' ';
        fetch(`https://api.themoviedb.org/3/discover/movie?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US&sort_by=vote_count.desc&include_adult=false&include_video=false&page=${page}&with_genres=${id}`)
            .then(response => response.json())
            .then(
             function(res){
                document.querySelector('#inner2').innerText = res.total_pages;
              for(let i=0;i<20;i++){
                document.querySelector('.cont1').innerHTML+=` <div id="main${i}" class="main">
                    <div class="card" id="card${i}"></div>
                <p id="title${i}" class="title"></p>
                <p id="title2${i}" class="title2"></p></div>`;
                    document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${res.results[i].poster_path}')`;
                    document.getElementById(`title${i}`).innerText=res.results[i].original_title;
                    document.getElementById(`title2${i}`).innerText=res.results[i].release_date.slice(0,4);
               }
            })

            var val = document.querySelector('#inner').innerText;
            console.log(val);
            if (val == '1'){
                document.querySelector('.prev').disabled = true;
            }

            document.onreadystatechange = function() { 
                    if (document.readyState !== "complete") { 
                        document.querySelector("body").style.visibility = "hidden"; 
                        document.querySelector("#loader").style.visibility = "visible"; 
                        
                    } else { 
                        setTimeout(() => {
                            console.log('waiting');
                            document.querySelector("#loader").style.visibility = "hidden";         
                            document.querySelector("body").style.visibility = "visible";
                        }, 1000);
                    
                    } 
            }; 
        }; 
   

   function next(){ // to display next 20 results
        var prev = document.querySelector('.prev').disabled;
        if(prev === true){

            document.querySelector('.prev').disabled=false;
          
        }
        
        var val = Number(document.querySelector('#inner').innerText);
        val= val +1;
        disp(28,val);
        document.querySelector('#inner').innerText = val;
   }

   function prev(){  //to display prev 20 results
        var val = Number(document.querySelector('#inner').innerText);
        if (val === 2){
            document.querySelector('.prev').disabled=true;
            val = val-1;
            disp(28,val);
            document.querySelector('#inner').innerText = val;
        }
        else{
            val = val-1;
            document.querySelector('#inner').innerText = val;
            disp(28,val);
        }
       
   }
</script>
</html>
