<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Popcorn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="K5Eyu5b9uw-_AzpJ8KMCx1fn-6M1xDRhIroT-l6QzIQ" />
    <meta name="description" content="get all latest movie and tv information">
    <meta name="keywords" content="movies,tv,series,popcorn,marvel,dc,hbo,hulu,netflix,prime,cbc,nbc,disney+,hbomax,alt balaji,hotstar,voot,tom hanks">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
</head>
<body >
    <div class="pic">
        
        <div class="left"></div>
        <div class="logo">
            <div class="line2"></div>
        </div>
        <div class="line1"></div>
        <div class="op">
            <p>abhi x divesh</p>
        </div>
        <form class="squery" action="/" method="POST">
            <input type="text" name="query" placeholder="Search for movie or tv-shows here.">
            <button>SEARCH</button>
        </form>

        
        <ul>
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li style="color: #b6362d;">HOME &nbsp;&nbsp;</li></a>
            <li>GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li id="search">SEARCH</li></a>
        </ul>
    </div>
   
    <!-- <div class="cursor"></div> -->
</body>

<script>
    const cursor = document.querySelector('.cursor');

        document.addEventListener('mousemove', e => {
            cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
        })

    document.addEventListener('click', () => {
        cursor.classList.add("expand");

        setTimeout(() => {
            cursor.classList.remove("expand");
        }, 500)
    })

   
</script>

<script>
    window.addEventListener('beforeinstallprompt', (event) => {
  console.log('👍', 'beforeinstallprompt', event);
  // Stash the event so it can be triggered later.
  window.deferredPrompt = event;
  // Remove the 'hidden' class from the install button container
  divInstall.classList.toggle('hidden', false);
});
</script>
