<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Popcorn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/svg" href="https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632566/icon_oqz5n8.png">
</head>
<body >
    <div class="pic">
        
        <div class="left"></div>
        <div class="logo">
            <div class="line2"></div>
        </div>
        <div class="line1"></div>
        <div class="op">
            <p>abhi x divesh</p>
        </div>
        <form class="squery">
            <input type="text" name="query" placeholder="Search for movie or tv-shows here.">
            <button>SEARCH</button>
        </form>

        
        <ul>
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li style="color: #b6362d;">HOME &nbsp;&nbsp;</li></a>
            <li>GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search"><li id="search">SEARCH</li></a>
        </ul>
    </div>
   
    <div class="cursor"></div>
</body>

<script>
    const cursor = document.querySelector('.cursor');

        document.addEventListener('mousemove', e => {
            cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
        })

    document.addEventListener('click', () => {
        cursor.classList.add("expand");

        setTimeout(() => {
            cursor.classList.remove("expand");
        }, 500)
    })

   
</script>

