<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="pic">
        <h2>2 OCTOBER 2019</h2>
        <h1>JOKER</h1>
        
    </div>
    <div class="content">
        <div class="watch">watch</div>
        <iframe src="https://www.youtube.com/embed/zAGVQLHvwOY"></iframe>
        <div class="net">watch on netflix</div>
    </div>
</body>
</html>