<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="pic">
        <div class="head">
            <span class="heading">joker &nbsp;</span><span class="line">| &nbsp;</span><span class="brand"></span>
        
            
        </div>

        <h2>2 OCTOBER 2019</h2>
        <h1>JOKER</h1>
        <div class="foot1" onclick="clck()">
            <span class="foote">read &nbsp;</span><span class="more">more</span>
        </div>
        
    </div>
    <div class="pic1"></div>

    <div class="content">
        <div class="watch">watch</div>
        <iframe src="https://www.youtube.com/embed/zAGVQLHvwOY"></iframe>
        <div class="net">watch on netflix</div>
        <div class="prime">watch on prime</div>
    </div>
</body>
<script>
    function clck(){
        document.querySelector('.pic').style.display="none";
        document.querySelector('.pic1').style.display="block";
    }
</script>
</html>