<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body onload="data()">
    <div class="pic">
        <div class="head">
            <span class="heading">joker &nbsp;</span><span class="line">| &nbsp;</span><span class="brand"></span><span class="icons8-search"> </span>   
        </div>

        <h2>2 OCTOBER 2019</h2>
        <h1>JOKER</h1>
        
        <p id="cont">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis aliquid quos quisquam odit illo alias? Porro recusandae eius facere harum fuga nostrum excepturi modi neque, et quas rerum minus molestiae!</p>
        <div class="foot1" onclick="clck()">
            <span class="foote">read &nbsp;</span><span class="more">more</span>
        </div>
        <ul>
            <li>HOME &nbsp;&nbsp;</li>
            <li>GENRE &nbsp;&nbsp;</li>
            <li>TRENDING</li>
        </ul>
    </div>
    <div class="pic1">
        <p class="des" id="des">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam consequuntur similique deleniti iusto quasi sint placeat suscipit enim molestias tempora aliquam, obcaecati incidunt explicabo non cum delectus reiciendis ex.
        </p>
        <div class="cast" >
            <span class="lead">LEAD &nbsp;</span><span class="cast1">CAST</span>
        </div>
    </div>

    <div class="content">
        <div class="watch">watch</div>
        <div class="info">
            <span class="tit">name : &nbsp;</span><span style="font-weight: 200 ; font-size: 80%;" id="movie" >joker</span><br>
            <span class="tit">runtime : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="runtime">todd philips</span><br>
            <span class="tit">release date : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="release">2nd october 2019</span><br>
            <span class="tit">imdb : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="rating">8.5 / 10</span><br>
        </div>
        <iframe src="https://www.youtube.com/embed/" ></iframe>
        <div class="net">watch on netflix</div>
        <div class="prime">watch on prime</div>
    </div>
    <div class="cursor"></div>
</body>

<script>
    function data(){
        var ans = prompt();
        var vid ='';
        var imga='';
        var url = 'https://youtube.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q='+ans+'%20trailer&videoType=any&key=AIzaSyAN1UTyh_haVm_9Eu9PSQVtOTu7wY5f_FI';
        fetch(url)
        .then(response => response.json())
        .then(function (data){
            vid = data.items[0].id.videoId;
            if (vid ===''){
                document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
            }
            else{
                console.log('vid : ' + vid);
                document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
            }
            
         
            
        });
       
        var url1 ='https://customsearch.googleapis.com/customsearch/v1?cx=0f9e2df3020e49a58&imgSize=LARGE&imgType=imgTypeUndefined&num=1&q='+ans+'&searchType=image&key=AIzaSyC3Bg9i3odWhlqKCHEu2Q_2-w6Qh9NLj3E';
        fetch(url1)
        .then(response => response.json())
        .then(function (data){
            iid  = data.items[0].link;
            console.log(iid);
            document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
            
        });


                    var myHeaders = new Headers();
            myHeaders.append("x-rapidapi-key", "18fbb309efmshfe01f93d20cb9c4p127560jsn4f265c06e2ff");
            myHeaders.append("x-rapidapi-host", "imdb-internet-movie-database-unofficial.p.rapidapi.com");

            var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
            };

            fetch("https://imdb-internet-movie-database-unofficial.p.rapidapi.com/search/"+ans, requestOptions)
            .then(response => response.json())
            .then(
             function(res){
                 var id=res.titles[0].id;
                                        var myHeaders = new Headers();
                        myHeaders.append("x-rapidapi-key", "18fbb309efmshfe01f93d20cb9c4p127560jsn4f265c06e2ff");
                        myHeaders.append("x-rapidapi-host", "imdb-internet-movie-database-unofficial.p.rapidapi.com");

                        var requestOptions = {
                        method: 'GET',
                        headers: myHeaders,
                        redirect: 'follow'
                        };

                        fetch("https://imdb-internet-movie-database-unofficial.p.rapidapi.com/film/"+id, requestOptions)
                        .then(response => response.json())
                        .then(result => {
                            document.getElementById('movie').innerText=result.title;
                            document.getElementById('runtime').innerText=result.length;
                            document.getElementById('release').innerText=result.year;
                            document.getElementById('rating').innerText=result.rating +" / 10";
                            document.getElementById('des').innerText=result.plot;
                            
                        })
                        .catch(error => console.log('error', error));
             }
             )
            .catch(error => console.log('error', error));
                    
                }
</script>

<script>
            const cursor = document.querySelector('.cursor');

                document.addEventListener('mousemove', e => {
                    cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
                })

            document.addEventListener('click', () => {
                cursor.classList.add("expand");

                setTimeout(() => {
                    cursor.classList.remove("expand");
                }, 500)
            })
</script>

<script>


    function clck(){
        var flag = document.querySelector('.more').innerHTML;
        if(flag === 'LESS'){
            document.querySelector('.pic1').style.display="none";
            document.querySelector('.pic1').style.transition="0.4s";
            document.querySelector('.more').innerHTML='MORE';
        }
        else{
            document.querySelector('.pic1').style.display="block";
            document.querySelector('.pic1').style.transition="0.4s";
            document.querySelector('.more').innerHTML='LESS';
        }
        
    }

   
    document.addEventListener('scroll', () => {
    var content = document.querySelector('.content');
    var image = document.querySelector('.pic');
    var scroll_position = window.scrollY;

    if (scroll_position >450) {
      content.style.backgroundColor="#1b1b1b";
      content.style.transition='0.4s';
      document.querySelector('.des').style.opacity="0.9";
      document.querySelector('.cast').style.opacity="0.9";
      document.querySelector('.cast').style.transition='0.4s';
      document.querySelector('.des').style.transition='0.4s';
    } 

    else if (scroll_position >20){
        image.style.backgroundPosition="100% 50%";
        image.style.transition='0.4s';
    }

    else {
        image.style.backgroundPosition="50% 50%";
        content.style.backgroundColor="#0a0a0a";
        content.style.transition='0.4s';
        image.style.transition='0.4s';
        document.querySelector('.des').style.opacity="0";
        document.querySelector('.des').style.transition='0.4s';
        document.querySelector('.cast').style.opacity="0";
        document.querySelector('.cast').style.transition='0.4s';
    }
    
  });
</script>
</html>