<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body >
    <div class="pic">
        <div class="head">
            <span class="heading">joker &nbsp;</span><span class="line">| &nbsp;</span><span class="brand"></span>  
            <div ></div>
        </div>
        <div class="squery">
            <input type="text" id="search" name="query" placeholder="Search for movie or tv-shows here.">
            <button onclick="search()">SEARCH</button>
        </div>
        <h2 id="rdate" style="text-transform: uppercase;">2 OCTOBER 2019</h2>
        <h1 id="mname" style="text-transform: uppercase;">JOKER</h1>
        
        <p id="cont">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis aliquid quos quisquam odit illo alias? Porro recusandae eius facere harum fuga nostrum excepturi modi neque, et quas rerum minus molestiae!</p>
        <div class="foot1" onclick="clck()">
            <span class="foote">read &nbsp;</span><span class="more">more</span>
        </div>
        <ul>
            <a href="/" style="text-decoration: none; color: #d7d8d7;"><li>HOME &nbsp;&nbsp;</li></a>
            <li>GENRE &nbsp;&nbsp;</li>
            <a href="/trending" style="text-decoration: none; color: #d7d8d7;"><li>TRENDING &nbsp;&nbsp;</li></a>
            <a href="/search" ><li style="color: #d6362d;">SEARCH</li></a>
        </ul>
    </div>
    <div class="pic1">
        <p class="des" id="des">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laboriosam consequuntur similique deleniti iusto quasi sint placeat suscipit enim molestias tempora aliquam, obcaecati incidunt explicabo non cum delectus reiciendis ex.
        </p>
        <div class="cast" >
            <span class="lead">LEAD &nbsp;</span><span class="cast1">CAST</span>
        </div><br><br>
        <div class="actors">
            <div class="card" id="card1"><p id="name1">Joaquin Phoneix</p></div>
            <div class="card" id="card2" ><p id="name2">Joaquin Phoneix</p></div>
            <div class="card" id="card3"><p id="name3">Joaquin Phoneix</p></div>
            <div class="card" id="card4"><p id="name4">Joaquin Phoneix</p></div>
        </div>
    </div>

    <div class="content">
        <a href="/" id='logo'><img src="/assets/logo.png" alt=""></a>
        <div class="watch">search</div>
        <div class="info">
            <span class="tit">name : &nbsp;</span><span style="font-weight: 200 ; font-size: 80%;" id="movie" >joker</span><br>
            <span class="tit">runtime : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="runtime">123 mins</span><br>
            <span class="tit">genres : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="genres">drama</span><br>
            <span class="tit">release date : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="release">2nd october 2019</span><br>
            <span class="tit">imdb : &nbsp;</span><span style="font-weight: 200;font-size: 80%;" id="rating">8.5 / 10</span><br>
        </div>
        <iframe src="https://www.youtube.com/embed/" ></iframe>
        <div class="net">watch on netflix</div>
        <div class="prime">watch on prime</div>
    </div>
    <div class="cursor"></div>
</body>

<script>
    function search(){
        if(document.getElementById('search').value)
        {
            data(document.getElementById('search').value);
        }
    }
    function data(ans){

        var vid ='';
        var imga='';
        var url1 = 'https://yts.mx/api/v2/list_movies.json?query_term='+ans;
        
       
        // var url1 ='https://customsearch.googleapis.com/customsearch/v1?cx=0f9e2df3020e49a58&imgSize=large&imgType=photo&num=1&q='+ans+'&searchType=image&key=AIzaSyC3Bg9i3odWhlqKCHEu2Q_2-w6Qh9NLj3E';
        // fetch(url1)
        // .then(response => response.json())
        // .then(function (data){
        //     iid  = data.items[0].link;
        //     console.log(iid);
        //     document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url1(${iid})`;
            
        // });


              

            fetch("")

            fetch(`https://api.themoviedb.org/3/search/multi?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&query=${ans}&page=1&include_adult=false`)
            .then(response => response.json())
            .then(
             function(res){
                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/credits?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;

                                    }
                                })     
               
                    
                            iid  = `https://image.tmdb.org/t/p/original${res.results[0].backdrop_path}`;
                            console.log(iid);
                          
                            if(res.results[0].media_type.localeCompare('movie')===0){
                            
                            fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}/videos?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                }
                                
                            
                                
                            });

                                fetch(`https://api.themoviedb.org/3/movie/${res.results[0].id}?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US`)
                                .then(response => response.json()
                                .then(
                                    function(x){
                                        document.getElementById('movie').innerText=x.title;
                            document.getElementById('mname').innerText=x.title;
                            document.getElementsByClassName('heading')[0].innerText=x.title;
                            document.getElementById('release').innerText=x.release_date;
                            document.getElementById('rdate').innerText=x.release_date;
                            document.getElementById('des').innerText=x.overview;
                            document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                            document.getElementById('genres').innerText=`${x.genres[0].name} ,${x.genres[1].name} ,${x.genres[2].name} `;
                            document.getElementById('runtime').innerText=x.runtime;
                           document.getElementById('rating').innerText=x.vote_average +" / 10";
                                    }
                                )).catch(error=>console.log(error))
                                
                            
                            }
                            else{

                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/credits?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US`)
                                .then(response=>response.json())
                                .then(function(t){
                                    console.log(res.results[0].id);
                                    for(let i=1;i<=4;i++)
                                    {
                                        document.getElementById(`name${i}`).innerText=`${t.cast[i-1].name} AS ${t.cast[i-1].character}`;
                                        document.getElementById(`card${i}`).style.backgroundImage= `linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url('https://image.tmdb.org/t/p/original${t.cast[i-1].profile_path}')`;

                                    }
                                })                                

                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}/videos?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US`)
                            .then(response => response.json())
                            .then(function (data){
                                vid = data.results[0].key;
                                if (vid ===''){
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/'); 
                                }
                                else{
                                    console.log('vid : ' + vid);
                            
                                    document.querySelector('iframe').setAttribute('src','https://www.youtube.com/embed/'+vid);
                                }
                                
                            
                                
                            });
                                
                                fetch(`https://api.themoviedb.org/3/tv/${res.results[0].id}?api_key=15d2ea6d0dc1d476efbca3eba2b9bbfb&language=en-US`)
                                .then(response => response.json()
                                .then(
                                    function(x){
                                        document.getElementById('movie').innerText=x.name;
                            document.getElementById('mname').innerText=x.name;
                            document.getElementsByClassName('heading')[0].innerText=x.name;
                            document.getElementById('release').innerText=x.first_air_date;
                            document.getElementById('rdate').innerText=x.first_air_date;

                                        
                            document.getElementById('des').innerText=x.overview;
                            document.querySelector('.pic').style.backgroundImage=`linear-gradient(180deg, rgba(10, 10, 10, 0) 13.99%, #0A0A0A 100%),url(${iid})`;
                            document.getElementById('runtime').innerText=x.runtime;           
                            document.getElementById('runtime').innerText=x.runtime;
                           document.getElementById('rating').innerText=x.vote_average +" / 10";
                                    }
                                )).catch(error=>console.log(error))
                              
                            }
                            
                            
                            
                            // document.getElementById('des').innerText=result.plot;
                            
                        })
                        .catch(error => console.log('error', error));
             }
                    

                    var platform ='netflix';
                    if (platform === 'prime' || platform === 'Prime' || platform === 'PRIME'){
                        document.querySelector('.net').style.display='none';
                        document.querySelector('.prime').style.display='block';
                        document.querySelector('.brand').style.backgroundImage="url1('/assets/prime.png')";
                       
                    }
                    else{
                        document.querySelector('.net').style.display='block';
                        document.querySelector('.prime').style.display='none';
                        document.querySelector('.brand').style.backgroundImage="url1('/assets/netflix.png')";
                    }
                
</script>

<script>
            const cursor = document.querySelector('.cursor');

                document.addEventListener('mousemove', e => {
                    cursor.setAttribute("style", "top: "+(e.pageY - 10)+"px; left: "+(e.pageX - 10)+"px;")
                })

            document.addEventListener('click', () => {
                cursor.classList.add("expand");

                setTimeout(() => {
                    cursor.classList.remove("expand");
                }, 500)
            })
</script>

<script>


    function clck(){
        var flag = document.querySelector('.more').innerHTML;
        if(flag === 'LESS'){
            document.querySelector('.pic1').style.display="none";
            document.querySelector('.pic1').style.transition="0.4s";
            document.querySelector('.more').innerHTML='MORE';
        }
        else{
            document.querySelector('.pic1').style.display="block";
            document.querySelector('.pic1').style.transition="0.4s";
            document.querySelector('.more').innerHTML='LESS';
        }
        
    }

   
    document.addEventListener('scroll', () => {
    var content = document.querySelector('.content');
    var image = document.querySelector('.pic');
    var scroll_position = window.scrollY;

    if (scroll_position >450) {
      content.style.backgroundColor="#1b1b1b";
      content.style.transition='0.4s';
      document.querySelector('.des').style.opacity="0.9";
      document.querySelector('.cast').style.opacity="0.9";
      document.querySelector('.cast').style.transition='0.4s';
      document.querySelector('.des').style.transition='0.4s';
    } 

    else if (scroll_position >20){
        image.style.backgroundPosition="100% 50%";
        image.style.transition='0.4s';
    }

    else {
        image.style.backgroundPosition="50% 50%";
        content.style.backgroundColor="#0a0a0a";
        content.style.transition='0.4s';
        image.style.transition='0.4s';
        document.querySelector('.des').style.opacity="0";
        document.querySelector('.des').style.transition='0.4s';
        document.querySelector('.cast').style.opacity="0";
        document.querySelector('.cast').style.transition='0.4s';
    }
    
  });
</script>
</html>