@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* cursor: none; */
 
}

.left{
    background-color: #0a0a0a;
    position: absolute;
    left:0%;
    top:0%;
    width: 100%;
    height: 100%;
    height: max-content;

}
.rating{
    position: absolute;
    top: 42%;
    width: 100%;
    left: 38%;
}
.cont1{
    display: flex;
    flex-wrap: wrap;
    width:65%;
    margin-top: 5%;
}

.card{
    background-image: linear-gradient(180deg, rgba(10, 10, 10, 0) 33.99%, #0A0A0A 100%),url(/assets/joa.jpg);
    
    background-size:cover;
    background-position: 50% 50%;
    padding: 2%;
    width: 25%;
    text-align: center ;
    float: left;
    font-size: 70%;
    color: #d7d8d7;
    margin-left: 3.5%;
    margin-right: 0.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    height: 300px;
    border: 3px solid #D7D8D7;
    box-sizing: border-box;
}

.card:hover{
    border-color: #b6362d;
}
.logo{
    background:url('https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632562/logo_ieomoh.png') ;
    background-size:cover;
    background-position:50% 50% ;
    width:15%;
    height: 8%;
    position: absolute;
    top: 3%;
    left: 40%;
}

ul{
    list-style: none;
    position: absolute;
    top:10%;
    left:28%;
    width: 68%;
}

li{
    color: #F0EBEB;
    float: left;
    font-weight: 300;
    transition: 0.4s;
}

li:hover{
    color: #b6362d;
    transition: 0.4s;
    cursor: pointer;
}

.right{

    background-color: #1c1c1c;
    position: absolute;
    position:fixed;
    left:65%;
    top:0%;
    width: 35%;
    height: 100%;
}

.pic{
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, rgba(28, 28, 28, 0.69) 79.06%, #1C1C1C 93.75%),url('/assets/joker.png');
    width:100%;
    height: 50%;
    background-size:cover ;
    background-position:50% 50% ;
}

.watch{
    text-transform: uppercase;
    padding: 2%;
    text-align: center;
    color: #d7d8d7;
    border: 2%;
    font-weight: 600;
    border-style: solid;
    border-color: #d7d8d7;
    width: 20%;
    height: 4%;
    position: absolute;
    right: 7%;
    top: 5%;
    transition: 0.4s;
}
h1{
    text-align: center;
    color: #d7d8d7;
    padding: 0%;
    margin: 0%;
    margin-top:2%;
    text-transform: uppercase;
}

h4{
    text-align: center;
    color: #9c9c9c;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
}

p{
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    color: #d7d8d7;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#0a0a0ade;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6362d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00A8E1; 
  }
 /* custom cursor */
 .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    transition-duration: 120ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid #c5c3c3;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}