@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #0A0A0A;
    padding: 0;
 
}

#loader { 
    border: 10px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 10px solid #b6362d; 
    width: 40px; 
    height: 40px; 
    animation: spin 2s linear infinite; 
} 

#read{
    width: 88%;
    height: 6%;
    border: none;
    color: white;
     margin-left: 5%;
    background-color: #b6362d;
    transition: 0.3s;
    outline:none;
}

#read:hover{
    background-color:#00A8E1;
    cursor: pointer;
    transition: 0.3s;
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 
.left{
    background-color: #0a0a0a;
    position: absolute;
    left:0%;
    top:0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    height: max-content;
    animation: leftview ease 2s;
}

.rating{
    position: absolute;
    top: 42%;
    width: 100%;
    left: 38%;
}
.cont1{
    width:fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    vertical-align: center;
    height:fit-content;
    animation: cont1 ease-in-out 3s;
}

@keyframes cont1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.main{
    justify-content: center;
    vertical-align: center;
    width: 15%;
    margin:1%;
    height: 20%;
}
.footnav{
    width:100%;
    justify-content: center;
    vertical-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0%;
    height:max-content;
    bottom: 0%;
}

.footnav1{
    width:100%;
    justify-content: center;
    vertical-align: center;
    display: flex;
    display: none;
    flex-wrap: wrap;
    padding: 1% 0%;
    height:max-content;
    bottom: 0%;
}

.footnav p{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.footnav1 p{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
#circle{
    border-radius: 4px;
    border: none;
    outline: none;
    justify-content: center;
    vertical-align: center;
   width: 7%;
   margin-top: 1%;
   height:35px;
   transition: 0.3s;
   background-color: #1b1b1b;
}


.prev:disabled{
    cursor:not-allowed;
    opacity: 0.3;
    background-color: #222222;
}

#circle:hover{
    background-color: #00A8E1;
    cursor: pointer;
    transition: 0.3s;
}

.card{
    background-image: linear-gradient(180deg, rgba(10, 10, 10, 0) 33.99%, #0A0A0A 100%),url(/assets/joa.jpg);
    background-size:cover;
    background-position: 50% 50%;
    width: 100%;
    justify-content: center;
    vertical-align: center;
    text-align: center ;
    color: #d7d8d7;
    margin: 2% 0%;
    text-transform: uppercase;
    height: 300px;
    border: 3px solid #D7D8D7;
    box-sizing: border-box;
    animation: card1 ease-in-out 2s;
}

@keyframes card1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.title{
    color: #d7d8d7;
    font-size: 85%;
    margin: 2%;
}

.title2{
    color: #d1e98eab;
    font-size: 75%;
    margin: 1.5%;
}
.card:hover{
    border-color: #b6362d;
    cursor: pointer;
}
.logo{
    background:url('https://res.cloudinary.com/dsi0a9weg/image/upload/v1607632562/logo_ieomoh.png') ;
    background-size:contain;
    background-position:50% 50% ;
    background-repeat: no-repeat;
    margin-left: 42%;
    width:15%;
    height: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.logo1{
    background-size:cover;
    background-position:50% 50% ;
    width:15%;
    height: 6%;
    position: absolute;
    left:38%;
    top:0;
    right: auto;
    text-align: center;

}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 6%;
    margin-left: 37%;
}

li{
    color: #F0EBEB;
    float: left;
    font-weight: 300;
    transition: 0.4s;
}

li:hover{
    color: #b6362d;
    transition: 0.4s;
    cursor: pointer;
}

.right{
    display: none;
    background-color: #1c1c1c;
    position: absolute;
    position:fixed;
    left:65%;
    top:0%;
    width: 35%;
    height: 100%;
    animation: rightview ease-in 0.5s;
}

@keyframes rightview{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.pic{
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, ),url('/assets/joker.png');
    width:100%;
    height: 45%;
    background-size:cover ;
    background-position:50% 50% ;
}

.close{
    position: absolute;
    top:3%;
    left: 6%;
    color: white;
    font-weight: 100;
    transition: 0.3s;
}

.close:hover{
    cursor: pointer;
    transition: 0.3s;
}
.watch{
    text-transform: uppercase;
    padding: 2%;
    text-align: center;
    color: #d7d8d7;
    border: 2%;
    font-weight: 600;
    border-style: solid;
    border-color: #d7d8d7;
    width: 20%;
    height: 4%;
    position: absolute;
    right: 7%;
    top: 5%;
    transition: 0.4s;
}
h2{
    text-align: center;
    color: #d7d8d7;
    padding: 0%;
    margin: 0%;
    margin-top:2%;
    text-transform: uppercase;
}

h5{
    text-align: center;
    color: #9c9c9c;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
}

p{
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    color: #d7d8d7;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#0a0a0ade;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6362d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00A8E1; 
  }

  @media only screen and (max-width:450px){
    .main{
        width:80% ;
    }
    .card{
        height:400px;
    }

    #circle{
        width: 25%;
        margin: 2%;
    }

    .footnav p{
        margin-left: 3.5%;
        margin-right: 3.5%;
    }

    .footnav1{
        display: inline-block;
    }
    
    .footnav1 p{
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
}

