@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    cursor: none;
}

.pic{
    background:  #0A0A0A;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    
}

.logo{
    width:40%;
    height: 40%;
    background-size:cover ;
    background-position:50% 50% ;
    background-image:url(/assets/logo.png) ;
    position: absolute;
    left: 30%;
    top: 25%;
}

.line1{
    width: 1.5%;
    margin-left:35.5% ;
    height: 28%;
    background-color: #00A8E1;
    animation: up 2s ease;
}

@keyframes up {
    from {
        top: 0%;
        height: 0%;
        opacity: 0;
    }
    to {
        top: 28%;
        height: 28%;
        opacity: 1;
        display: none;
    }
  }

.line2{
    width: 87%;
    margin-top:39% ;
    margin-left:88% ;
    height:7%;
    background-color: #b6362d;
    animation: right 2s ease-in-out;
}

@keyframes right {
    from {
        left: 88%;
        width: 0%;
        opacity: 0;
    }
    to {
        left: 100%;
        width: 87%;
        opacity: 1;
    }
  }


ul{
    list-style: none;
    position: absolute;
    bottom:2%;
    left:40%;
}
.op{
    position:absolute;
    text-align: center;
    letter-spacing:10px ;
    left: 42%;
    top:60%;
    text-transform: uppercase;
    color: rgb(99, 97, 97);
    animation: view 5s ease;
}

@keyframes view{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}





li{
    color: #F0EBEB;
    float: left;
    font-weight: 300;
    transition: 0.4s;
}

li:hover{
    color: #b6362d;
    transition: 0.4s;
    cursor: pointer;
}


iframe{
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#0a0a0ade;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6362d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00A8E1; 
  }

  /* custom cursor */
  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    transition-duration: 120ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid #c5c3c3;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}